.alignleft {
  border: 1em rgb(250, 250, 250) solid;
  float: right;
  width: 40%;
}

.alignright {
  border: 1em rgb(250, 250, 250) solid;
  float: right;
}

.air {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}